body {
    width: 100vw;
    overflow-x: hidden;
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header-custom {
  box-shadow: -1px 20px 20px -28px;
  z-index: 9;
}
.site-layout-background {
  background: #fff;
}
.logo {
    display: flex;
    /* width: 622px; */
    justify-content: center;
    padding: 6px 0px 0 7px;
}
.w-100 {
  width: 100%;
}
.custom-header {
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-right {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.m-0 {
  margin: 0;
}
.mr-4 {
  margin-right: 4em;
}
.mr-3 {
  margin-right: 3em;
}
.mr-2 {
  margin-right: 2em;
}
.mr-1 {
  margin-right: 1em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}
.h-100 {
  height: 100%;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 4em;
}
.p-4 {
  padding: 4em;
}
.pt-1 {
  padding-top: 1em;
}
.font-28 {
  font-size: 28px;
}
.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}
.b-default {
  background-color: #013766;
}
.b-default2 {
  background-color: #415bff;
}
.c-whrite {
  color: #fff;
}
.c-black {
  color: #000;
}

.c-orange {
  color: orange;
}
.c-red {
  color: red;
}
.c-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.btn.published {
  background: #1bbc00;
}
.btn.sending {
  background: #f9e81a;
}
.btn.error {
  background: red;
}
.btn {
  padding: 0 8px;
  background: #013766;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
/*menu*/
.menu {
  height: '100vh';
  border-right: 0;
  font-size: 20px;
}
.menu .ant-menu-item-selected {
  color: #0e2331;
}
.menu .ant-menu-submenu-title:hover, .ant-menu-item:hover {
  color: #0e2331;
}
/*end menu*/

/*head*/
.input-seach {
  width: 200px;
  border: 0;
}
/*end head*/

.card-custom {
  box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.w-30 {
  width: 30%;
}

.text-uppercase {
  text-transform: uppercase;
}
